/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}

.top-icon {
    top: 0;
    font-size: 100px;
    position: absolute;
    margin-top: 10rem;
    transform: translateY(-5rem) translateX(-1.5rem);
    color: #fff;
    background: transparent;
    
    
}

.header {
    margin-top: 20rem;
    position: absolute;
    top: 0;
    color: #fff;
    text-align: center;
    font-size: 40px;
    transition: all 0.5s ease-out;
}

.post-header {
    margin-top: 20rem;
    position: absolute;
    top: 0;
    color: #fff;
    text-align: center;
    font-size: 15px;
    transform: translateY(-1.5rem);
    transition: all 0.5s ease-out;
    opacity: 0%;
}

.post-header.open {
    opacity: 100%;
}

.header.hide {
    opacity: 0;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  /* background-image: linear-gradient(120deg, #4070f4 0%, #66a6ff 100%);   */
  /* background-image: linear-gradient(to right, #243949 0%, #517fa4 100%); */
  background: linear-gradient(to bottom, #333333, #1a1a1a);
  /* background: linear-gradient(to bottom, #a7a7a7, #808080);
  background-color: #333;  */
  /* background: linear-gradient(to bottom, #bebebe, #bdbdbd);
  color: #333; */
  
  background-position: center;
  background-size: cover;
  overflow-y: scroll;
}

.input-box{
  position: relative;
  height: 55px;
  max-width: 55px;
  width: 100%;
  margin: 0 40px;
  border-radius: 6px;
  background-color: #fff;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: translateY(35rem);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.input-box:hover {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
}

.input-box.open{
  max-width: 350px;
  transform: translateY(355px);
}
input{
  justify-self: center;
  position: relative;
  outline: none;
  border: none;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  background-color: #fff;
}
.input-box.open{
  padding: 0 15px 0 65px;
  position:absolute;
}
.icon{
  cursor: pointer;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0; 
  width: 60px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  background-color: #fff;
}
.search-icon,
.close-icon{
  cursor: pointer;
  position: absolute;
  top: 50%;
  font-size: 30px;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-icon{
  color: #66a6ff;
  font-size: 30px;
  transform: translateY(-50%);
}
.input-box.open .search-icon{
  transform: translateY(-50%); 
}
.close-icon{
  right: -45px;
  color: #fff;
  padding: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-50%);
}
.input-box.open .close-icon{
  opacity: 1;
  pointer-events: auto;
  transform: translateY(-50%) rotate(180deg);
}

.user-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  /* gap: .25rem;
  margin-top: 1rem; */
}

.card {
  opacity: 100;
  transform: translateY(415px); 
  padding: 15px;
  background-color: #e5e5e5;
  height: 100px;
  width: 700px;
  border-radius: 15px;
  overflow: hidden;
  padding: 25px;
  box-shadow: 0 16px 32px 0 rgba(92, 91, 91, 0.2);
  margin: 15px;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.25);
}

.card.reveal {
  opacity: 100;
}

.card:hover  {
  box-shadow: 0 0px 4px 0 #fff;
  height: 140px;
}

.card:hover .exit-icon  {
  /* top: 12.5%; */
} 

.exit-icon {
  /* transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.25); */
  position: relative;
  cursor: pointer;
  color: #388bff;
  font-size: 45px;
  left: 92%;
  top: -18%;
  font-weight: lighter;
}


.title {
  display:flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  overflow: hidden;
  max-width: 590px;
  font-size: 22px;
  color: #3e444b;
  font-weight: bold;
  vertical-align: middle;
  transform: translateY(-95px);
}

.cardSubheader {
  height:60px;
  max-width: 600px;
  position: absolute;
  display: flex;
  flex-direction: row;
  transform: translateY(-96px); 
  vertical-align: center;
  font-weight: bold;
  color: #5a636c;
}

.subicon {
  color: #388bff;
}



