/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}

.top-icon {
    user-select: none;
    top: 0;
    font-size: 100px;
    position: absolute;
    margin-top: 10rem;
    transform: translateY(-5rem) translateX(-1.5rem);
    color: #fff;
    background: transparent;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    
    
}

.header {
    user-select: none;  
    margin-top: 20rem;
    position: absolute;
    top: 0;
    color: #fff;
    text-align: center;
    font-size: 40px;
    transition: all 0.4s ease-out;
}

.post-header {
    user-select: none;
    margin-top: 20rem;
    position: absolute;
    top: 0;
    color: #fff;
    text-align: center;
    font-size: 15px;
    transform: translateY(-1.5rem);
    transition: all 0.5s ease-out;
    opacity: 0%;
}

.post-header.open {
    opacity: 100%;
}

.header.hide {
  /* transition: all 0.3s ease-in; */
  scale: 0;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  /* background-image: linear-gradient(120deg, #4070f4 0%, #66a6ff 100%);   */
  /* background-image: linear-gradient(to right, #243949 0%, #517fa4 100%); */
  background: linear-gradient(to bottom, #333333, #1a1a1a);
  /* background: linear-gradient(to bottom, #a7a7a7, #808080);
  background-color: #333;  */
  /* background: linear-gradient(to bottom, #bebebe, #bdbdbd);
  color: #333; */
  background-attachment: fixed;
  background-position: center;
  background-size: auto;
  overflow-y: scroll;
}

.input-box{
  position: relative;
  height: 55px;
  max-width: 55px;
  width: 100%;
  margin: 0 40px;
  border-radius: 6px;
  background-color: #fff;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: translateY(35rem);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.input-box:hover {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
}

.input-box.open{
  max-width: 350px;
  transform: translateY(355px);
}
input{
  justify-self: center;
  position: relative;
  outline: none;
  border: none;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  background-color: #fff;
}
.input-box.open{
  padding: 0 15px 0 65px;
  position:absolute;
}
.icon{
  cursor: pointer;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0; 
  width: 60px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  background-color: #fff;
}
.search-icon,
.close-icon{
  cursor: pointer;
  position: absolute;
  top: 50%;
  font-size: 30px;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-icon{
  color: #66a6ff;
  font-size: 30px;
  transform: translateY(-50%);
}
.input-box.open .search-icon{
  transform: translateY(-50%); 
}
.close-icon{
  right: -45px;
  color: #66a6ff;
  /* color: #fff; */
  padding: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-50%);
}

.gear-icon {
  cursor: pointer;
  opacity: 0;
  left: -50px;
  color: #66a6ff;
  /* color: #fff; */
  padding: 5px;
  pointer-events: none;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  font-size: 30px;
  /* transform: rotate(90deg); */
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  font-weight: lighter;
}

.gear-icon.open {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(-50%) rotate(360deg);
}

.gear-icon.rotate {
  transform: rotate(180deg);
  transform:translateY(-28px);
}

.input-box.open .close-icon{
  opacity: 1;
  pointer-events: auto;
  transform: translateY(-50%) rotate(180deg);
}


.card {
  opacity: 100;
  transform: translateY(450px); 
  padding: 15px;
  background-color: #e5e5e5;
  height: 150px;
  width: 700px;
  border-radius: 15px;
  overflow: hidden;
  padding: 25px;
  box-shadow: 0 16px 32px 0 rgba(92, 91, 91, 0.2);
  margin: 15px;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.25);
}

.card.reveal {
  opacity: 100;
}


.exit-icon {
  /* transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.25); */
  position: relative;
  /* justify-self: center; */
  cursor: pointer;
  color: #388bff;
  font-size: 45px;
  left: 92%;
  top: 10%;
  font-weight: lighter;
}


.title {
  display:flex;
  flex-direction: column;
  justify-content: center;
  /* text-align: center; */
  height: 100px;
  overflow: hidden;
  max-width: 575px;
  font-size: 22px;
  color: #363738;
  font-weight: bold;
  vertical-align: middle;
  transform: translateY(-90px);
  margin-top: 4px;
  margin-bottom: 3px;
}

.cardSubheader {
  height:60px;
  max-width: 600px;
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 75%;
  /* transform: translateY(-120px);  */
  vertical-align: center;
  font-weight: bold;
  color: #5a636c;
}

.subicon {
  color: #0a70ff;
}

.reliability-meter {
  /* font-weight: bold; */
  text-align: center;
  position: relative;
  /* left: 87.5%;
  top: 10%; */
  overflow: hidden;
  transform: translateY(2px);
  font-size: 14px;
  color: white;
  vertical-align: middle;
  width: 100px;
  height: 20px;
  background: #7e7e7e; 
  
  /* background: linear-gradient(90deg, #4dc84f 100%, #717171 0%); */
  /* background-color: #50c852; */
  border-radius: 15px;
}

.bias-meter {
  /* font-weight: bold; */
  text-align: center;
  position: relative;
  /* left: 87.5%;
  top: 10%; */
  overflow: hidden;
  transform: translateY(2px);
  font-size: 14px;
  color: white;
  /* vertical-align: middle; */
  width: 100px;
  height: 20px;
  padding: 4.75px;
  background: #7e7e7e; 
  
  /* background: linear-gradient(90deg, #4dc84f 100%, #717171 0%); */
  /* background-color: #50c852; */
  border-radius: 15px;
}

.bias-inner {
  position: relative;
  top: -50%;
}

/* .bias-meter {
  font-weight: bold;
  text-align: center;
  position: relative;
  left: 87.5%;
  top: -17%;
  overflow: hidden;
  font-size: 13px;
  vertical-align: middle;
  margin-top: 4px;
  margin-bottom: 3px;
  width: 100px;
  background-color: #717171;
  color: white;
  border-radius: 15px;
} */



.no-results-found {
  display: none;
  /* opacity: 0; */
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  transform: translateY(540px);
}

.no-results-found.open {
  display: inline-block;
  /* opacity: 100; */
}

.down-icon {
  opacity: 0;
  cursor: pointer;
  left: -100px;
  color: #66a6ff;
  /* color: #fff; */
  padding: 5px;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  font-size: 45px;
  /* transform: rotate(90deg); */
  transition: none;
  font-weight: lighter;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.down-icon.open {
  
  opacity: 100;
}

.down-icon.rotate {
  transform: translateY(-40px) rotate(-180deg);
}

.setting-box {
  position: fixed;
  right: 75%;
  top: 21%;
  /* right: 87.5%; */
  width: 325px;
  height: 340px;
  background: none;
  box-shadow: 0 0px 32px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  /* transform: translateX(-325%); */
  justify-content: center;
  align-items: vertical;
  
  opacity: 0;
  transition: all 0.3s ease-in;
  /* background-color: #353434; */
  background: #2e2e2e;
  /* background-color: #1b1b1b; */
}


.setting-box.open {
  opacity: 100%;
}

.settings-header {
  position: relative;
  text-align: center;
  color: #ffffff;
  justify-self: center;
  font-size: 27.5px;
  font-weight: bold;
  transform: translateY(15px);
  border-radius: 15px;
  /* text-underline-position: under;
  text-decoration: underline;
  text-underline-offset: 2.5px;
  text-decoration-thickness: 1px; */
}

.setting-line {
  border: none;
  border-radius: 15px;
  background-color: #66a6ff;
  height: 3px;
  width: 250px;
  position: relative;
  transform: translateY(27px) translateX(37.5px);
  /* box-shadow: 0 0px 5px 0 #66a6ff; */
}

.display-counter {
  /* opacity: 0;
  color: #fff;
  transform: translateY(160px);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: all 0.3s ease-out;
  border-radius: 15px;
  height: 52.5px; */
  color: #fff;
  transform: translateY(160px);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: all 0.3s ease-out;
  /* background-color: rgba(20, 20, 20, 0.2); */
  /* box-shadow: 0 0px 16px 0 rgba(92, 91, 91, 0.2);  */
}

.display-counter-data {
  color: #fff;
  transform: translateY(50px);
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
  transition: all 0.3s ease-out;
}

/* .display-counter:hover {
  box-shadow: 0 0px 12px 0 #66a6ff;
} */

.display-counter.open {
  transition: all 0.7s ease-out;
  opacity: 100;
  margin-top: -15px;
  margin-bottom: -10px;
  /* display: "inline-block"; */
}

.minus-display-button, .plus-display-button {
  cursor: pointer;
  color: #66a6ff;
  font-size: 30px;
  background: none;
  border: none;
  transform: translateY(4px);
}


.language-select {
  /* box-shadow: 0 0px 16px 0 rgba(92, 91, 91, 0.2); */
  /* background-color: rgba(28, 28, 28, 0.2); */
  color: #fff;
  font-size: 20px;
  text-align: center;
  transform: translateY(15px);
  /* background-color: rgba(92, 91, 91, 0.2); */
  /* height: 175px; */
  border-radius: 15px;
  transition: all 0.3s ease-out;
  
}

.language-header {
  /* font-weight: bold; */
  font-size: 20px;
  font-weight: bold;
  transform: translateY(7.5px);
}

.en-button, .es-button, .zh-button {
  cursor: pointer;
  color: #6b6b6b;
  font-weight: bold;
  background-color: #fff;
  font-size: 15px;
  width: 85px;
  height: 25px;
  border-radius: 7.5px;
  border: none;
  transform: translateY(20px);
  /* transition: all 0.1s cubic-bezier(0.68, -0.55, 0.265, 1.55); */
}

/* .zh-button {
  transform: translateY(30px);
} */

.en-button.press, .es-button.press, .zh-button.press {
  color: #66a6ff;
  box-shadow: 0 0 6px 0 #66a6ff;
}

.recency-button {
  color: #fff;
  transform: translateY(140px);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: all 0.3s ease-out;
}

.recency-data-display {
  color: #fff;
  transform: translateY(-90px);
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
  transition: all 0.3s ease-out;
}

.recency-plus, .recency-minus {
  cursor: pointer;
  color: #66a6ff;
  font-size: 20px;
  background: none;
  border: none;
}







